/* Estilo de la vista */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

/* Imagen principal */
#img {
    width: 100%;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Buscador y boton para filtrar */
#div1 {
    margin: 1em auto 2em auto;
    width: 50%;
}

#buscador {
    width: 30%;
    margin: auto;
}

#boton_buscar {
    width: 10%;
    margin: 45%;
    border-color: black;
}

/* Contenedor de productos */
.contenido {
    max-width: 90%;
    width: 100%;
    margin: auto;
}

.mostrador .fila {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

/* Matriz */
.mostrador .fila .item {
    max-width: 300px;
    padding: 15px;
    height: 370px;
    border: 2px solid rgb(4, 4, 4, 0.12);
    text-align: center;
    margin: 0 10px;
    border-radius: 5px;
}

/* Img del producto */
.contenedor-foto {
    width: 100%;
    height: 180px;
    margin-bottom: 1.5em;
}

.mostrador .fila .item img {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
}

/* Nombre del producto */
.mostrador .fila .item .descripcion {
    color: #010101;
    font-weight: bold;
}

/* precio card */
.mostrador .fila .item .precio {
    color: #5735f1;
    font-weight: bold;
    font-size: 20px;
}

/* Boton de comprar */
#btnComprar {
    height: 15%;
    width: 30%;
    border-radius: 5px;
    color: #5735f1;
    border-color: #5735f1;
}

#btnDetalle {
    height: 15%;
    width: 30%;
    border-radius: 5px;
    margin-right: 20%;
    color: #5735f1;
    border-color: #5735f1;
}

#remitonumero {
    color: #5735f1;
    border-color: #5735f1;
}

.botonColorM {
    background-color: #451ef187 !important;
    color: black !important;
    font-weight: bold !important;

}