/* carrusel del componente carrusel */
.carrusel {
    margin: 0 1.5em 0 1.5em;
}

/* pagina de inicio */
.contenido {
    margin: 5em 1.5em 5em 1.5em;
    padding: 2em;
    border-style: groove;
}

.contenidoTitulo,
.contenidoParrafo {
    text-align: center;
}

/* estilos del componente footer */
.redSocial>svg {
    width: 2em;
    height: 2em;
}